<div class="container">
    <div class="row">
        <div class="col card h-100 cards-cont">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCnNYrgaIXhzel0UdBnn0CEiWEivJOSlkR8A&usqp=CAU"
                class="card-img-top" alt="img" width="50px" height="150px">
            <div class="card-body">
                <h5 class="card-title">Alfabeto</h5>
                <p class="card-text">Alfabeto parte 1</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Nível de dificuldade: Fácil</small>
            </div>
        </div>
        <div class="col card h-100 cards-cont">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCnNYrgaIXhzel0UdBnn0CEiWEivJOSlkR8A&usqp=CAU"
                class="card-img-top" alt="img" width="50px" height="150px">
            <div class="card-body">
                <h5 class="card-title">Alfabeto</h5>
                <p class="card-text">Alfabeto parte 2</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Nível de dificuldade: Fácil</small>
            </div>
        </div>
        <div class="col card h-100 cards-cont">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCnNYrgaIXhzel0UdBnn0CEiWEivJOSlkR8A&usqp=CAU"
                class="card-img-top" alt="img" width="50px" height="150px">
            <div class="card-body">
                <h5 class="card-title">Alfabeto</h5>
                <p class="card-text">Alfabeto parte 3</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Nível de dificuldade: Fácil</small>
            </div>
        </div>
    </div>
</div>